body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
    color: white;
}
  
.download {
    color: aquamarine;
    font-size: 16px;
}

p :hover {
    color: teal;
}  
  
h2 {
    font-size: 42px;
    font-weight: 300;
}
  
.description {
    font-size: 21px;
    color: gray;
}
  
.footer {
    text-align: right;
} 